header  { 
    background-color: #fff;
    padding: 10px 0;
}

header section.wrapper { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 { 

}

header h1 a { 

}

header h1 img { 

}

header ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li { 
    margin-left: 20px;
}

header ul li a { 
    font-size: 14px;
    font-weight: 600;
}

header ul li a img { 
    margin-left: 10px;
    vertical-align: middle;
}

