* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family:  'poppinsregular', Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #1C2C40;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 400;
}
input,textarea,select{
	font-family:  'poppinsregular', Arial, Helvetica, sans-serif;
	font-weight: 400;
}

a{
	color: #1C2C40;
}
a:hover,.submit:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
p{
	/* line-height:1.6em; */
	text-align: left;
	font-size: 14px;
	font-family:  'poppinsregular', Arial;
	font-weight: 400;
}
.hidden{
	display:none;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
@font-face {
    font-family: 'poppinsbold';
    src: url('./components/assets/fonts/poppins-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('./components/assets/fonts/poppins-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.spotlight {
	background-color: #f7f7f7;
}

.spotlight .s-wrapper{
	max-width: 980px;
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.spotlight h3 {
	padding: 50px 0 100px;
	font-size: 40px;
	font-weight: 600;
}

.spotlight div.items {
	padding-bottom: 50px;
	border: 1px solid #e2e2e2;
}

.spotlight div.items div.item {
	background-color: #fff;
	padding: 80px;
	position: relative;
}

.spotlight div.items div.item div.image-container {
	width: 70px;
	margin: 0 auto;
	position: absolute;
	top: -30px;
	left: 425px;
}

.spotlight div.items div.item div.image-container img {
	display: block;
	width: 100%;
	border-radius: 50%;
}

.spotlight div.items div.item div.content {

}

.spotlight div.items div.item div.content h5 {

}

.spotlight div.items div.item div.content span {

}

.spotlight div.items div.item div.content small {

}

.spotlight div.items div.item div.content p {

}

